<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: top"></div>

<div class="container">
    <h3> Maintain Projects</h3>

	
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>Project ID</td>
            <td> Project Name</td>
            <td>Budget </td>
            <td> Client Name</td>
            <td> Supervisor Name</td>
            <td> <a href="/projectregister"> Add Project</a> </td>
          </tr>
        </thead> 
        
          <!-- <tr th:if="${tasks.empty}">
            <td colspan="4">No tasks</td>
          </tr> -->
          <tbody>
 
           <tr th:each="project : ${projects}">
            <td th:text="${project.project_id}">1</td>
            <td th:text="${project.title}">sdfs</td>
            <td th:text="${project.budget}">1ssdfd</td>
            <td th:text="${project.customer}">1sfsdffdd</td>
            <td th:text="${project.supervisor.getFullname()}">1sfsdffdd</td>
            <td>
          <form action="#" th:action="@{'/maintainprojects?title={title}'(title=${project.title})}" th:method="delete" >
			  <button type="submit">Delete</button>
			  
		  </form>
		  </td>
		  <td>
          <a th:href="@{'/maintainprojects?title={title}' (title = ${project.title}) }">Edit project</a>
        </td>
<!--         <td> -->
<!--           <a action="#" th:action="@{'/manageempproject?title={title}' (title = ${project.title}) }">Edit project</a> -->
<!--         </td> -->
        
        <!-- <td>
          <form action="#" th:action="@{/maintainemployees/edit/}+${emp.username}">
			  <button type="submit">Edit</button>
		  </form>
        </td> -->
       <!--  <td>
          <form action="#" th:action="@{'/createTimesheet'}" th:method="get" >
          	  <input type="hidden" name="employeeId" th:value="${e.id}"/>
			  <button type="submit">Create Timesheet</button>
		  </form>
        </td> -->
            
<!--             <td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td> -->
            
          </tr>
        </tbody>
      </table>
		
		
	</div>

<div th:replace="fragments :: bottom"></div>


</body>
</html>