<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: top"></div>

<div class="container">
    

<div th:unless="${User == null}">
    <h3>Welcome  </h3><h3 th:text="${User.username}"></h3> <h3>,  Select Project you wish to manage</h3>
    </div>

	
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>Project ID</td>
            <td> Project Name</td>
            <td>Budget </td>
            <td> Client Name</td>
          </tr>
        </thead>
        <tbody>
 
          <tr th:each="project : ${supprojects}">
            <td th:text="${project.project_id}">1</td>
            <td th:text="${project.title}">sdfs</td>
            <td th:text="${project.budget}">1ssdfd</td>
            <td th:text="${project.customer}">1sfsdffdd</td>
            <!-- <td>
          <form action="#" th:action="@{'/maintainemployees?username={username}'(username=${emp.username})}" th:method="delete" >
			  <button type="submit">Delete</button>
		  </form>
        </td>
        <td>
          <form action="#" th:action="@{/maintainemployees/edit/}+${emp.username}">
			  <button type="submit">Edit</button>
		  </form>
        </td> -->
       <!--  <td>
          <form action="#" th:action="@{'/createTimesheet'}" th:method="get" >
          	  <input type="hidden" name="employeeId" th:value="${e.id}"/>
			  <button type="submit">Create Timesheet</button>
		  </form>
        </td> -->
            
<!--             <td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td> -->
            
          </tr>
        </tbody>
      </table>
		
		
	</div>

<div th:replace="fragments :: bottom"></div>


</body>
</html>